* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}

html {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #ecf2f8;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 30px;
  overflow-x: hidden;
}

.articlePreviev {
  background: white;
  width: 350px;
  height: 550px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articlePreviev__background {
  width: 100%;
  height: 40%;
}

.articlePreviev__bgImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articlePreviev__sneak {
  width: 100%;
  height: 45%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articlePreviev__title {
  font-weight: 700;
  font-size: 1.4rem;
  color: #48556a;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.articlePreviev__text {
  line-height: 1.7;
  color: #6d7f97;
}

.articlePreviev__footer {
  width: 100%;
  height: 15%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articlePreviev__authorPicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.articlePreviev__authorImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articlePreviev__authorData {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(-35px);
          transform: translateX(-35px);
}

.articlePreviev__authorName {
  color: #48556a;
  font-weight: 700;
}

.articlePreviev__uploadDate {
  color: #9eafc2;
}

.articlePreviev__shareBtn {
  width: 35px;
  height: 35px;
  color: #48556a;
  background: #ecf2f8;
  z-index: 2;
  border: 0;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.articlePreviev__shareBtn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.articlePreviev__shareBtn:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.articlePreviev__shareBtn--active {
  background: #6d7f97;
  color: #ecf2f8;
}

.articlePreviev__shareSection {
  opacity: 0;
  background: #48556a;
  position: absolute;
  width: 350px;
  height: 80px;
  -webkit-transform: translate(-30px, 1px);
          transform: translate(-30px, 1px);
  border-radius: 0px 0px 10px 10px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articlePreviev__shareText {
  color: #6d7f97;
  font-weight: 700;
  letter-spacing: 4px;
}

.articlePreviev__sharePanel {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articlePreviev__mediaBtn {
  width: 30px;
  height: 30px;
  background: 0;
  border: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.articlePreviev__mediaBtn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.articlePreviev__mediaIcon {
  font-size: 1.8rem;
  color: #ecf2f8;
}

.attribution {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 750px) {
  .articlePreviev {
    width: 700px;
    height: 300px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .articlePreviev__background {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    height: 100%;
    width: 100%;
  }
  .articlePreviev__sneak {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
  }
  .articlePreviev__title {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .articlePreviev__text {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    line-height: 1.7;
  }
  .articlePreviev__footer {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
  }
  .articlePreviev__authorData {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  .articlePreviev__shareSection {
    width: 200px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    -webkit-transform: translate(247px, -70px);
            transform: translate(247px, -70px);
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .articlePreviev__shareSection::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #48556a;
    position: relative;
    right: calc(50% - 10px);
    top: 31px;
  }
  .articlePreviev__shareText {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .articlePreviev__sharePanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .articlePreviev__mediaIcon {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */