// colors
$dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

html{
    min-height: 100%;
    display: flex;
}

body{
    flex: 1;
    background: $light-grayish-blue;
    position: relative;
    display: grid;
    place-items: center;
}

.articlePreviev{
    background: white;
    width: 350px;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;
    display:flex;
    flex-direction: column;

    // #region background
    &__background{
        width: 100%;
        height: 40%;
    }

    &__bgImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    // #endregion

    // #region sneak
    &__sneak{
        width: 100%;
        height: 45%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__title{
        font-weight: 700;
        font-size: 1.4rem;
        color: $dark-grayish-blue;
        transform: translateY(10px);
    }

    &__text{
        line-height: 1.7;
        color: $desaturated-dark-blue;
    }
    // #endregion

    // #region footer
    &__footer{
        width: 100%;
        height: 15%;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__authorPicture{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__authorImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__authorData{
        height: 40px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(-35px);
    }

    &__authorName{
        color: $dark-grayish-blue;
        font-weight: 700;
    }

    &__uploadDate{
        color: $grayish-blue;
    }

    &__shareBtn{
        width: 35px;
        height: 35px;
        background: $light-grayish-blue;
        border: 0;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: 0.2s ease-in-out;

        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
    // #endregion
}

.attribution { 
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}